@import "../assets/scss/_colors";

.main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  min-height: 1px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  flex: 0;
  max-width: 1264px;
  width: 100%;
  margin-bottom: 48px;
}
.content {
  flex: 1;
  max-width: 1264px;
  width: 100%;
}
.footer {
  flex: 0;
  width: calc(100% + 20px);
}
