<div class="footer-outer">
  <div class="footer__contacts">
    <div class="footer-contacts__inner">
      <div class="contacts__column">
        <a href="#" class="footer__contact">
          <img src="../../../assets/images/icons/lifebuoy.png" class="footer-contact__logo" alt="">
          <span>Вопросы и ответы</span>
        </a>
      </div>
      <div class="contacts__column">
        <a href="#" class="footer__contact">
          <img src="../../../assets/images/icons/points.png" class="footer-contact__logo" alt="">
          <span>Центры обслуживания</span>
        </a>
      </div>
      <div class="contacts__tel">
        <span class="contacts-tel__text">Круглосуточно, бесплатно по РФ</span>
        <a href="tel:+88002005575" class="contacts-tel__num">8 800 200-55-75</a>
      </div>
    </div>
  </div>
  <div class="footer__main">
    <div class="footer-main__inner">
      <div class="footer-main__services">
        <div class="footer-services__service">
          <h4 class="footer-service__header">Сервисы "Золотая Корона"</h4>
          <ul class="footer-service__list">
            <li class="service-list__item"><a href="#" class="service-list__item-link">Погашение кредитов</a></li>
            <li class="service-list__item"><a href="#" class="service-list__item-link">Обмен валюты</a></li>
            <li class="service-list__item"><a href="#" class="service-list__item-link">Переводы с карты на карту</a></li>
            <li class="service-list__item"><a href="#" class="service-list__item-link">Деньги в долг</a></li>
          </ul>
        </div>
        <div class="footer-services__service">
          <h4 class="footer-service__header">Транспортная карта</h4>
          <ul class="footer-service__list">
            <li class="service-list__item"><a href="#" class="service-list__item-link">Физическим лицам</a></li>
            <li class="service-list__item"><a href="#" class="service-list__item-link">Юридическим лицам</a></li>
            <li class="service-list__item"><a href="#" class="service-list__item-link">Новости и события</a></li>
            <li class="service-list__item"><a href="#" class="service-list__item-link">Вопросы и ответы</a></li>
          </ul>
        </div>
        <div class="footer-services__service">
          <h4 class="footer-service__header">Скачай мобильное приложение</h4>
          <div class="footer-app">
            <div class="footer-app__logo">
              <a href="#">
                <img src="../../../assets/images/app_store.png" alt="">
              </a>
            </div>
            <div class="footer-app__logo">
              <a href="#">
                <img src="../../../assets/images/google_play.png" alt="">
              </a>
            </div>
          </div>
          <div class="footer-service__signin">
            <a href="#" class="service-list__item-link">
              <img src="../../../assets/images/avatar.png" alt="" class="footer-signin__logo">
              <span>Вход в личный кабинет</span>
            </a>
          </div>
        </div>
      </div>
      <div class="footer-main__copyrights">
        <div class="footer-copyrights__logos">
          <img src="../../../assets/images/zk_logo.png" class="footer-logo" alt="">
          <img src="../../../assets/images/cft_logo.png" class="footer-logo" alt="">
        </div>
        <div class="footer-copyrights__arr">
          © Все права защищены. ЦФТ (Центр Финансовых Технологий), 2018
          <br />
          © Все права защищены. Золотая Корона, 2018
        </div>
      </div>
    </div>
  </div>
</div>
