<div class="header__container">
  <nav class="header__navbar">
    <div class="navbar__nav-items">
      <div class="nav-items__item">
        <a href="#" class="nii__link nii__link_selected">Физическим лицам</a>
      </div>
      <div class="nav-items__item">
        <a href="#" class="nii__link">Юридическим лицам</a>
      </div>
    </div>
    <div class="navbar__city">
      <div>Ваш город - <a href="#" class="nav-city__city-name">Новосибирск</a></div>
    </div>
  </nav>
  <div class="header__content">
    <div class="header-content__logo">
      <a href="#" class="logo__link">
        <img src="../../../assets/images/logo.png" class="logo__img" alt="">
      </a>
      <a href="#" class="logo__title logo-title_selected">Транспортная карта</a>
      <div class="logo__title logo-title_bold">Ваша карта</div>
    </div>
    <div class="content__lk-button">
      <a href="#" class="lk-button lk-button_font lk-button_border">
        <img src="../../../assets/images/Avatar-Blue.png" alt="" class="lk-button__avatar-img">
        Вход в личный кабинет
      </a>
    </div>
  </div>
</div>
