<div class="card-container">
  <div class="card__image-container">
    <a href="#" class="card-content__link"><img src={{img}} class="card__image" alt=""></a>
  </div>
  <div class="card__content">
    <a href="#" class="card-content__link"><h2 class="card-content__name card-content__name_font">{{name}}</h2></a>
    <div class="card-content__links">
      <div class="card-links__link-outer">
        <a href="" class="card__link">
          <img src="../../../../assets/images/icons/points.png" alt="" class="card-link__logo">
          <span class="card-link__title">Пункты пополнения</span>
        </a>
      </div>
      <div class="card-links__link-outer">
        <a href="" class="card__link">
          <img src="../../../../assets/images/icons/routes.png" alt="" class="card-link__logo">
          <span class="card-link__title">Маршруты транспорта</span>
        </a>
      </div>
      <div class="card-links__link-outer">
        <a href="" class="card__link">
          <img src="../../../../assets/images/icons/rules.png" alt="" class="card-link__logo">
          <span class="card-link__title">Правила пользования</span>
        </a>
      </div>
    </div>
    <div class="card-content__description card-description_font">
      {{description}}
    </div>
  </div>
</div>
