<div class="table">
  <div class="row_header">
    <div class="table__cell">
      Название точки
    </div>
    <div class="table__cell">
      Режим работы
    </div>
  </div>
  <ng-container *ngIf="points.length > 0">
    <a href="#" *ngFor="let point of points" class="table__row">
      <div class="table__cell">
        <div class="cell_point-name">
          {{point.name}}
        </div>
        <div class="cell_address">
          {{point.address}}
        </div>
      </div>
      <div class="table__cell cell_schedule">
        {{point.schedule}}
      </div>
    </a>
  </ng-container>
    <div *ngIf="points.length === 0" class="table__row">
      <div class="table__cell">
        Ничего не найдено
      </div>
    </div>

</div>
