<div class="header__container">
  <nav class="header__navbar">
    <div class="navbar__nav-items">
      <div class="nav-items__item">
        <a href="#" class="nii__link">Физическим лицам</a>
      </div>
      <div class="nav-items__item">
        <a href="#" class="nii__link">Юридическим лицам</a>
      </div>
    </div>
    <div class="navbar__city">
      <div>Ваш город - <a href="#" class="nav-city__city-name">Новосибирск</a></div>
    </div>
  </nav>
  <div>
    золотая корона.пнг
  </div>
</div>
