<div class="content-main">
  <app-tabs></app-tabs>
  <div class="content__container">
    <h1 class="content__header">Ваша транспортная карта</h1>
    <p class="content__about">
      На сегодняшний день в Новосибирске по транспортным и социальным картам совершается более 15 миллионов поездок в месяц.
      <br>
      Каждый второй житель города использует возможности системы «Электронный проездной — Новосибирск». Воспользуйтесь и вы всеми преимуществами безналичной оплаты проезда в пассажирском транспорте.
    </p>
    <div class="content__cards-container">
      <app-cards></app-cards>
    </div>
  </div>
</div>
