@import "../../assets/scss/_colors";

.content__header {
  padding: 0;
  padding-bottom: 24px;
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.8px;
  color: $bold-font-color;
}

.content__about {
  padding: 0;
  padding-bottom: 48px;
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: $bold-font-color;
}
