@import "../../../../assets/scss/_colors";

.search-tag {
  display: flex;
  box-sizing: border-box;
  border-radius: 32px;
  padding: 10px 12px;
  margin-right: 16px;
  justify-content: center;
  align-items: center;
  background: $tag-color;
  font-weight: 300;
  font-size: 13px;
}

.tag__icon {
  margin-right: 6px;
}
